@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

h1,h2,h3,h4,h5{
  font-family: 'Dela Gothic One'
}
p,label,select,option,input,a{
  font-family: 'Montserrat'
}
html{
  font-size: 16px;
}
body{
  background-color: #F6F5F4;
}
/* hide scroll bar, keep its function */
*{ 
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}
@media screen and (max-width: 1000px) {
  html{
    font-size: 12px;
  }

}
@media screen and (min-width: 1500px) {
  html{
    font-size: 18px;
  }

}
@media screen and (max-width: 500px) {
  html{
    font-size: 8px;
  }
}